body {
	font-family: 'Oxygen', sans-serif;
	background-color: #e7e4be;
}

#main {
	width: 1280px;
	height: 860px;
	background: url('background.png') no-repeat;
	margin: 0 auto;

	a {
		color: white;
		font-size: 30px;
		text-decoration: none;
		display: block;
		-webkit-transform: rotate(-90deg);
		position: relative;
		width: 200px;
		height: 50px;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
	}

	a:hover {
		color: #753a2a;
	}

	a#navCommits {
		left: 7px;
		top: 365px;
	}

	a#navBadges {
		left: 1065px;
		top: 495px;
	}

	a#navStats {
		left: 1075px;
		top: 625px;
	}

	a#navCodeStory {
		left: 170px;
		top: -155px;
		-webkit-transform: rotate(0);
	}

	#commits {
		width: 390px;
		height: 500px;
		margin-left: 180px;
		margin-top: 150px;

		.commit {
			margin-bottom: 50px;
			min-height: 80px;

			img {
				-webkit-transform: rotate(-5deg);
				width: 64px;
				height: 64px;
				margin-top: -10px;
				margin-left: -10px;
				padding-bottom: 25px;
				box-shadow: 0 0 0 5px white, 0 0 0 6px lightgray, 0 0 8px 7px gray;
				background-color: white;
			}

			.date {
				-webkit-transform: rotate(-5deg);
				margin-left: -7px;
				margin-top: -35px;
				font-family: 'Bad Script', cursive;
			}

			p {
				margin-left: 80px;
				margin-top: -60px;
				font-family: 'Bad Script', cursive;
				color: #00008b;
				font-size: 24px;
				line-height: 27px;
			}
		}
	}
}
