@beige: #ECE8CA;
@marron: #753a2a;
@bleu: #00008b;

.centered(@width: 0){
	width: @width;
	margin: 0 auto;
}

.rotate(@angle: 0){
	-webkit-transform: rotate(@angle);
}

.photo {
	width: 40px;
	height: 50px;
	border-radius: 4px;
	border: 3px solid white;
}

body {
	font-family: 'Oxygen', sans-serif;
	margin: 0;
	padding: 0;
	background-color: black;
}

#main {
	background: url('code_story.jpg') no-repeat;
	.centered(1020px);
	min-height: 1020px;

	#header {
		width: 1020px;
		height: 130px;
	}

	#commits {
		width: 700px;
		float: left;
		margin-top: 94px;
		background-color: black;

		.commit {
			height: 56px;
			width: 320px;
			float: left;

			.portrait {
				.photo;
				margin: 0;
			}

			.description {
				color: white;
			}

			.date {
				color: grey;
				font-size: smaller;
			}

			p {
				margin-top: 3px;
				margin-bottom: 0;
				font-style: normal;
				font-size: small;
			}
		}
	}

	#badges {
		width: 320px;
		float: left;

		.badge {
			height: 101px;
			background: black;

			p {
				color: white;
				text-transform: uppercase;
				font-size: small;
				float: left;
				width: 80px;
				height: 34px;
				padding: 0;
				text-align: right;
				vertical-align: middle;
				line-height: 17px;
				margin: 37px 0 30px 51px;
			}

			.portrait {
				.photo;
				margin: 28px 0 0 12px;
				float: left;
			}

			.separator {
				background-color: white;
				float: left;
				width: 10px;
				height: 5px;
				margin: 52px 0 0 0;
			}

			.icon {
				width: 80px;
				height: 80px;
				margin: 15px 0 0 0;
			}
		}
	}
}

.commit:nth-child(odd) {
	text-align: right;
	margin-right: 30px;

	.portrait, .description {
		float: right;
	}

	.date, p {
		margin-right: 12px;
	}
}

.commit:nth-child(even) {
	text-align: left;
	margin-left: 30px;
	margin-top: 50px;

	.portrait, .description {
		float: left;
	}

	.date, p {
		margin-left: 8px;
	}
}

